.box{
    margin-top: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 50px;
    background-color: #ff9933;
}
img{
    border-radius: 50px;
    margin-top: 20px;
    width: 100%;
}
